  body {
  background-color:black;

  }

  .topnav-right {
  float: right;
  }

p {
  color: white;
  font-family:metropolis;

  }
  
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  }

  a {
  color: white;
   font-family:metropolis;
  }

  @media only screen and (min-width: 650px) {
    body {
  margin-left: 400px;
  margin-right: 400px;"
    }
  }

  @media only screen and (max-width: 649px) {
  margin-left: 2px;
  margin-right: 2px;"

}
